elasticsearch:
  image: elasticsearch
  tag: 7.17.28
  pullPolicy: IfNotPresent

env:
  discovery.type: "single-node"

service:
  type: ClusterIP
  port: 9200

volume:
  type: hostPath
  runAsUser: 1000
  runAsGroup: 1000  
  hostPath: /mnt/esdata
  mountPath: /usr/share/elasticsearch/data

resources:
  # limits:
  #   memory: 4Gi
  # requests:
  #   memory: 2Gi

readinessProbe: &probe
  httpGet:
    path: /_cluster/health
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

livenessProbe:
  <<: *probe
  initialDelaySeconds: 60
